@font-face {
    font-family: "Bebas";
    src: url(fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: "Roboto Light";
    src: url(fonts/Roboto-Light.ttf)
}


@font-face {
    font-family: "Roboto Medium";
    src: url(fonts/Roboto-Medium.ttf)
}

/*reset css*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --azul-contech: #3066BE;
    --background: radial-gradient(circle, rgba(48, 102, 190, 1) 0%, rgba(48, 102, 190, 1) 58%, rgba(52, 170, 216, 1) 100%);
}

body {
    background-color: #f2f2f2;
}

h2 {
    font-family: "Bebas";
    font-size: 28px;
}

html {
    scroll-behavior: smooth;
}

.container-grid {
    width: 80vw;
    max-width: 1400px;

    margin: 0 auto;
}


header button {
    display: none;
    color: var(--azul-contech);
}

header {
    height: 100px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

header .container-grid {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 90%;
    display: flex;
    justify-content: space-evenly;

}

header img {
    width: 15%;
    display: flex;
    margin-right: 15%;

}

.menu a {
    font-family: "Roboto Light";
    font-size: 18px;

    text-decoration: none;
    color: black;
    transition: 500ms ease;
    text-decoration: underline transparent;
    transition: text-decoration 500ms ease;


}

.menu a:hover {
    color: #B9B541;
    font-family: "Roboto Medium";
}

header {
    color: white;
    /* Cor do texto */
    padding: 20px;
    /* Espaçamento interno */
    text-align: left;
    /* Centraliza o texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra */
}

.banner {

    width: 100%;
    background: radial-gradient(circle, rgba(48, 102, 190, 0.300) 0%, rgba(48, 102, 190, 0.300) 58%, rgba(52, 170, 216, 0.300) 100%);
    background-repeat: no-repeat;
}

.conteudo-banner {
    height: 60vh;
    display: flex;
    justify-content: center;

    flex-direction: column;
    align-items: flex-start;
    padding-top: 5%;
}


.conteudo-banner p {
    width: 800px;
    color: black;

    font-family: "Bebas";
    font-size: 60px;

    text-align: left;
    line-height: 1.8;

    letter-spacing: 2px;
}

.conteudo-banner b {
    width: 530px;
    background: local;
    background-color: #3066BE;

    border-radius: 10px;
    padding: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
    color: white;
    font-weight: 300;
}

.conteudo-banner span {
    color: #3066BE;
}

#sobre p {
    font-size: 24px;
    font-family: "Roboto Light";
    color: black;

    text-align: left;
    line-height: 1.9;

    margin-bottom: 2%;
}

#sobre b {
    color: #3066BE;
    font-family: "Roboto Medium";
    font-weight: 400;
    letter-spacing: 1px;
}

.texto-button {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texto-button button {
    width: 40%;
    background: local;
    background-color: #3066BE;
    padding: 2%;


    font-size: 28px;
    letter-spacing: 1px;

    font-family: "Bebas";
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;

    transition: background-color 500ms;


    margin-top: 8%;
    align-items: baseline;
}

#sobre button:hover {
    width: 42%;
    font-size: 30px;
    background-color: #244f96;

}

#sobre {
    width: 100%;
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 5%;

    height: 400px;

    margin-bottom: 10%;
}

#sobre img {
    width: 30%;
    margin-right: 5%;
}

#newsletter {
    height: 130vh;
    text-align: center;

}

#newsletter h2 {
    margin-bottom: 50px;
    font-size: 60px;
    letter-spacing: 2%;
    font-weight: 300;
    margin-bottom: 5%;
}

#newsletter b {
    color: #3066BE;
    font-weight: 300;
}

.container-cards {
    display: flex;
    justify-content: space-between;
}

.card {
    height: 450px;
    width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 20px;
    margin-bottom: 5%;

    background: radial-gradient(circle, rgba(48, 102, 190, 1) 0%, rgba(48, 102, 190, 1) 58%, rgba(52, 170, 216, 1) 100%);


    border-radius: 10px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.348);

}

.card img {
    height: 45%;
    width: 100%;

    margin-bottom: 1%;
    border-radius: 10px;

}

.card h3 {
    height: 50%;

    font-size: 28px;
    font-family: "Bebas";
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    padding-top: 2%;
}


.card button {
    width: 100%;
    height: 90%;

    background-color: var(--background);

    border: none;
    border-radius: 2px;

    color: white;

    font-family: "Roboto Light";
    font-size: 20px;
    line-height: 1.5;

    cursor: pointer;

    transition: background-color 500ms ease;
}

.card button:hover {
    background-color: #3066BE;
}



.textos p {
    width: 100%;

    font-family: "Roboto Light";
    font-size: 24px;
    line-height: 1.5;
    color: black;

    padding: 1%;
    text-align: left;

}

.textos b {
    font-family: "Roboto Medium";
    letter-spacing: 1px;
}


.textos button {
    width: 30%;
    background: local;
    background-color: #3066BE;
    padding: 1%;

    font-size: 28px;
    letter-spacing: 1px;

    font-family: "Bebas";
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;

    transition: background-color 500ms;
    margin-top: 5%;
}


.textos button:hover {
    width: 31%;
    font-size: 30px;
    background-color: #244f96;

}



#contato {
    text-align: center;

    margin-bottom: 5%;

}

#contato h2 {
    margin-bottom: 5%;
    color: black;
    text-align: center;


    font-size: 60px;
    font-weight: 300;
}

#contato b {
    color: #3066BE;
    font-weight: 300;
}

#contato .form b {
    color: black;
    font-family: "Roboto Medium";

}

#contato form {
    width: 650px;
    height: 560px;

    margin: auto;
    padding: 40px 0;
    padding-bottom: 2%;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px;

    background: radial-gradient(circle, rgba(48, 102, 190, 0.2) 0%, rgba(48, 102, 190, 0.2) 58%, rgba(52, 170, 216, 0.2) 100%);

    border: none;

    color: black;
    font-family: "Roboto Light";
    font-size: 18px;

    border-radius: 10px;
    box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.campo {
    width: 80%;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 20px;

}

.campo-descricao {
    width: 80%;
    height: 30%;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 10px;
}

.campo input,
.campo-telefone input {
    height: 40px;

    background-color: white;

    border: 1px solid #00000015;
    border-radius: 4px;

    text-indent: 10px;

    outline: none;
}

.campo-descricao textarea {
    height: 130px;
    color: #0F1F3C;
    background-color: white;

    border: 1px solid #00000015;
    border-radius: 4px;

    outline: none;

    padding: 10px;
    margin-bottom: 10px;

    resize: none;
}

textarea {
    resize: none;
}

.campo-telefone{
    display: flex;

    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;

    width: 80%;

    text-align: left;

    justify-content: space-between;

    gap: 15px;
    
}


.ddd-wrapper {
    flex: 1;    
}

.telefone-wrapper {
flex: 2;

}

input[name="telefone"],
input[name="ddd"] {
    margin-top: 8px;
    width: 100%;
}

.campo label,
.campo-descricao label,
.campo-telefone label {
    margin-bottom: 10px;
}

.campo input,
.campo-descricao textarea,
.campo-telefone input {
    font-family: "Roboto Light";
    font-size: 18px;

}

.campo input::placeholder,
.campo-descricao textarea::placeholder,
.campo-telefone input::placeholder {
    color: #a0a0a0;
}

.campo input:focus,
.campo-descricao textarea:focus {
    outline: 2px solid #F25922;
    border: none;
}

#contato form button {

    width: 40%;

    background-color: #3066BE;
    color: white;

    border: none;
    border-radius: 10px;

    font-size: 28px;
    font-family: "Bebas";
    font-weight: 300;
    letter-spacing: 1px;

    margin-top: 2%;
    padding: 2%;

    text-transform: uppercase;

    cursor: pointer;

    transition: background-color 500ms;
}

#contato form button:hover {
    background-color: #244f96;
}


footer {
    height: 290px;

    background-color: #001234;
}

footer .container-grid {
    height: 100%;
    padding-top: 70px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.redes-sociais a {
    height: 50%;
    margin: auto;

    margin-left: 8px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    color: white;
    font-family: "Philosopher";
    font-size: 18px;
    text-decoration: none;
}


.numero {
    display: flex;
    flex-direction: row-reverse;
}

.email {
    display: flex;
    flex-direction: row-reverse;

}

.instagram {
    display: flex;
    flex-direction: row-reverse;
}

.linkedin {
    display: flex;
    flex-direction: row-reverse;
}

.redes-sociais svg {
    height: 22px;
    color: white;
}


.redes-sociais svg:hover {
    color: var(--laranja-helpgame);
}


.menu-fechado {
    display: none;
}


#icone-barras {
    display: none;
}




@media screen and (max-width: 1300px) {
    header {
        position: relative;
    }

    header button {
        width: 50px;

        display: unset;

        background: none;
        border: none;
    }

    header svg {
        fill: var(--azul-contech);
    }



    nav.menu {
        height: 300px;
        width: 250px;

        padding: 0px 30px;


        flex-direction: column;
        justify-content: space-around;

        background-color: #3066be5b;

        position: absolute;
        top: 100px;
        right: 0px;

    }

    #sobre {
        padding: 100px 15%;

    }

    .card {
        height: 320px;
        width: 200px;
    }

    #contato form {
        width: 75%;
    }
}


@media screen and (max-width: 1080px) {


    #sobre {
        padding: 80px 15%;

    }

    #sobre h2 {
        margin-top: 40px;
    }

    #sobre p {
        margin-bottom: 15px;
    }

    .container-cards {
        flex-wrap: wrap;
    }


    .card {
        height: 400px;


        flex-shrink: 0;
        flex-grow: 0;
        flex-basis: 40%;
    }

    .card img {
        margin: auto;
    }

    footer {
        height: unset;
    }

    footer .container-grid {
        padding: 80px;
        flex-direction: column;
    }

    footer img {
        margin-bottom: 100px;
    }

    footer p {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }

    .redes-sociais {
        align-items: center;
    }
}

@media screen and (max-width: 860px) {

    h2 {
        font-size: 24px;
    }



    .conteudo-banner p {
        font-size: 24px;
    }

    .conteudo-banner img {
        height: 145px;
        width: 100px;

    }


    #sobre {
        margin-top: 30px;

        padding-top: 20px;
        height: unset;

        padding-bottom: unset;
    }

    #sobre p {
        margin-bottom: 10px;
    }

    .card {
        flex-basis: 45%;
    }

    #solucoes h2 {
        padding-left: 20px;

        margin-top: 30px;
        margin-bottom: 50px;
    }

    #depoimentos p {
        width: 75%
    }

    #depoimentos {
        height: unset;
    }

    #depoimentos .titulo img {
        width: 138px;
        height: 25px;
    }


    #depoimentos .card-depoimentos {
        margin-bottom: 50px;
        width: unset;
    }

    .card-depoimentos p {
        padding: 10px;
    }

    .card-depoimentos img {
        margin-right: 10px;
    }

    #divisoria {
        height: 150px;
        background-image: none;
    }

}


@media screen and (max-width: 700px) {


    h2 {
        font-size: 24px;
    }

    .conteudo-banner p {

        padding-bottom: 30px;
        height: unset;
        font-size: 20px;
    }

    .conteudo-banner img {
        height: 125px;
        width: 80px;
        margin-bottom: 30px;

    }

    #sobre {
        padding-top: 10px;
        height: unset;

    }





    #solucoes,
    #contato {
        margin-bottom: unset;
    }

    #portifolio {
        height: unset;
        font-size: 24px;
        margin-bottom: unset;
    }

    #portifolio img {
        width: 75%;
    }

    .campo,
    .campo-descricao,
    #contato form button {
        width: 75%;
    }
}

@media screen and (max-width: 560px) {
    h2 {
        font-size: 22px;
    }

    .conteudo-banner p {
        font-size: 18px;
    }

    .conteudo-banner img {
        height: 125px;
        width: 90px;

    }

    .container-grid {
        width: 90%;
    }

    header img {
        width: 200px;
    }

    .banner {
        background-size: cover;
    }


    nav.menu {
        width: 100%;
    }

    #sobre {
        padding-right: 0px;
        padding-left: 0px;

        padding-top: 10px;
        margin-bottom: 30px;


    }

    #sobre p {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    #solucoes.container-grid {
        width: 100%;
        margin: unset;
    }

    .container-cards {
        flex-wrap: nowrap;

        gap: 40px;

        overflow-x: auto;
    }

    .card {
        height: 400px;
        width: 280px;

        flex-basis: unset;
    }

    .card:first-child {
        margin-left: 30px;
    }

    .card:last-child {
        margin-right: 30px;
    }

    #portifolio h2 {
        margin-bottom: 0px;
        font-size: 22px;
    }


    #portifolio .container-grid {
        padding-bottom: 60px;
        height: unset;
    }


    #contato {
        background-color: #BAC7E2;
        height: unset;
        padding: 0;
        padding-top: 0;
    }

    #contato h2 {
        color: black;
        margin-bottom: unset
    }

    #contato form {
        border: 0px;
        width: 100%;
        border-radius: 0;
    }

    #contato form button {
        width: 55%;
        height: 40px;
    }

}

@media screen and (max-width: 400px) {
    header img {
        width: 160px;
    }

    header svg {
        width: 40px;
    }

    .conteudo-banner p {
        font-size: 16px;
    }

    #depoimentos .titulo img {
        width: 100px;
        height: 18px;
    }

    #depoimentos .container-grid {
        padding-top: unset;
        height: unset;

    }
}